.material-symbols-outlined {
    font-family: 'MaterialSymbolsOutlined', serif;
}

#topbar {
    background: linear-gradient(126deg, rgba(66,10,103,1) 0%, rgba(126,37,37,1) 50%, rgba(13,18,140,1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#sidebar-wrapper .sidebar-legal-notice {
	display: none;
}


.panel {
    border-color: var(--state-primary-border);
}

.panel-subtitle {
    color: #9f9f9f;
    margin: 0;
}

.betterserv-title {
    color: green;
}

.betterserv-title a {
    color: var(--state-primary-border);
    font-size: 16px;
}

.panel-body h2 {
    margin-top: 0;
    border-bottom: 1px solid var(--border-color);
}

.panel-title img {
    display: none;
}

.custom-symbol {
    margin-right: 4px;
    margin-top: 4px;
    font-size: inherit;
}