@import "colors";
@import "roboto";
@import "ubuntu";

body {
    display: flex;
    flex-direction: column;
    background-color: var(--betterserv-bg);
    font-family: "Ubuntu", sans-serif;
    color: var(--betterserv-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background: var(--betterserv-topbar-gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: var(--betterserv-topbar-text);

    div {
        display: flex;
        align-items: center;
    }

    select {
        background: var(--betterserv-content-bg);
        color: var(--betterserv-text);
        border: none;
        padding: 0.5em;
        margin: 0 0.5em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0 0.5em;
            a {
                color: var(--betterserv-text);
            }
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
