:root {
    --betterserv-bg: #191919;
    --betterserv-content-bg: #1c1c1c;
    --betterserv-text: #ffffff;
    --betterserv-link: #2d77b2;
    --betterserv-btn: #396B62;
    --betterserv-secondary-btn: #54484A; // not sure yet
    --betterserv-accent: #D4692C;
}

body {
    font-family: "Ubuntu", serif;
    background: var(--betterserv-bg);
    color: var(--betterserv-text);
}

a {
    color: var(--betterserv-link);
}

input,
button {
    border: 1px solid var(--betterserv-btn);
    background: var(--betterserv-bg);
    color: var(--betterserv-text);
    margin: 5px;
    padding: 5px;
}

button {
    padding-top: 4px;
    padding-bottom: 4px;
}

table {
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid var(--betterserv-btn);
    }

    td {
        padding: 6px;

        a {
            color: var(--betterserv-text);
            text-decoration: none;
        }
    }
}

.material-symbols-outlined,
.icons {
    font-family: 'MaterialSymbolsOutlined', serif !important;
    color: var(--betterserv-text);
    text-decoration: none;
    cursor: pointer;

    a {
        color: var(--betterserv-text);
        text-decoration: none;
        font-size: 24px;
    }
}